<!DOCTYPE html>
<html>
<head>
<title>Register</title>
<link rel="stylesheet" href="/style.css">
</head>

<body>

<div class="overlay">
<div class="container">

<nav>
<h1>🎾 Register</h1>

<div>
<a href="/">Home</a>
<a href="/login">Login</a>
</div>
</nav>

<div class="card">

<h2>Creează cont</h2>

<form method="POST" action="/register">

<input type="text" name="email" placeholder="Email">

<input type="password" name="password" placeholder="Parolă">

<button type="submit">Register</button>

</form>

</div>

</div>
</div>

</body>
</html>